@CHARSET "UTF-8";

@font-face{
	font-family: 'nns';
	src:url("/resources/font/eot/NanumSquareR.eot");
	src:local("※");
	src:url("/resources/font/eot/NanumSquareR.eot?#iefix") format("embedded-opentype"),
	url("/resources/font/woff/NanumSquareR.woff") format("woff"),
	url("/resources/font/ttf/NanumSquareR.ttf") format("truetype");
	font-weight: normal;
}
@font-face{
	font-family: 'nns';
	src:url("/resources/font/eot/NanumSquareB.eot");
	src:local("※");
	src:url("/resources/font/eot/NanumSquareB.eot?#iefix") format("embedded-opentype"),
	url("/resources/font/woff/NanumSquareB.woff") format("woff"),
	url("/resources/font/ttf/NanumSquareB.ttf") format("truetype");
	font-weight: bold;
}